body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:10px;
  width:740px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:50px;
  width:740px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:50px;
  width:100px;
  height:40px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:230px;
  top:60px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:330px;
  top:60px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:440px;
  top:60px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:550px;
  top:15px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:670px;
  top:15px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:600px;
  top:110px;
  width:180px;
  height:250px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:250px;
}
#u14 {
  position:absolute;
  left:2px;
  top:117px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:630px;
  top:330px;
  width:130px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:640px;
  top:120px;
  width:110px;
  height:90px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:624px;
  top:220px;
  width:141px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:613px;
  top:254px;
  width:27px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:650px;
  top:254px;
  width:80px;
  height:16px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:650px;
  top:254px;
  width:60px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:623px;
  top:280px;
  width:53px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:697px;
  top:280px;
  width:53px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:736px;
  top:254px;
  width:40px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:100px;
  top:110px;
  width:470px;
  height:250px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:250px;
}
#u32 {
  position:absolute;
  left:2px;
  top:117px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:118px;
  top:120px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:110px;
  top:152px;
  width:80px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:203px;
  top:155px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:285px;
  top:155px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:365px;
  top:155px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:448px;
  top:155px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:118px;
  top:191px;
  width:412px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:118px;
  top:220px;
  width:395px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:118px;
  top:249px;
  width:432px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:118px;
  top:278px;
  width:472px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:118px;
  top:307px;
  width:432px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:118px;
  top:336px;
  width:432px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:100px;
  top:380px;
  width:680px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:110px;
  top:386px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:100px;
  top:540px;
  width:680px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:110px;
  top:546px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:110px;
  top:579px;
  width:65px;
  height:61px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:100px;
  top:660px;
  width:680px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:110px;
  top:666px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:117px;
  top:641px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:230px;
  top:579px;
  width:180px;
  height:61px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:61px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73 {
  position:absolute;
  left:110px;
  top:700px;
  width:100px;
  height:45px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u74 {
  position:absolute;
  left:250px;
  top:700px;
  width:100px;
  height:45px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75 {
  position:absolute;
  left:118px;
  top:420px;
  width:100px;
  height:50px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u76 {
  position:absolute;
  left:118px;
  top:480px;
  width:100px;
  height:50px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u77 {
  position:absolute;
  left:238px;
  top:420px;
  width:100px;
  height:50px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u78 {
  position:absolute;
  left:238px;
  top:480px;
  width:100px;
  height:50px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u79 {
  position:absolute;
  left:360px;
  top:420px;
  width:100px;
  height:50px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u80 {
  position:absolute;
  left:360px;
  top:480px;
  width:100px;
  height:50px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u81 {
  position:absolute;
  left:480px;
  top:420px;
  width:100px;
  height:50px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u82 {
  position:absolute;
  left:480px;
  top:480px;
  width:100px;
  height:50px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u83 {
  position:absolute;
  left:600px;
  top:420px;
  width:100px;
  height:50px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u84 {
  position:absolute;
  left:600px;
  top:480px;
  width:100px;
  height:50px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85 {
  position:absolute;
  left:185px;
  top:548px;
  width:575px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  word-wrap:break-word;
}
