body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1606 {
  position:absolute;
  left:235px;
  top:20px;
  width:350px;
  height:622px;
}
#u1607 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1609 {
  position:absolute;
  left:236px;
  top:21px;
  width:348px;
  height:32px;
}
#u1610 {
  position:absolute;
  left:2px;
  top:8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u1611 {
  position:absolute;
  left:494px;
  top:32px;
  width:21px;
  height:11px;
}
#u1612 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u1613 {
  position:absolute;
  left:426px;
  top:27px;
  width:11px;
  height:21px;
}
#u1614 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1615 {
  position:absolute;
  left:443px;
  top:28px;
  width:21px;
  height:18px;
}
#u1616 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u1617 {
  position:absolute;
  left:469px;
  top:31px;
  width:21px;
  height:16px;
}
#u1618 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1619 {
  position:absolute;
  left:246px;
  top:28px;
  width:80px;
  height:20px;
}
#u1620 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1621 {
  position:absolute;
  left:538px;
  top:29px;
  width:41px;
  height:21px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u1623 {
  position:absolute;
  left:519px;
  top:30px;
  width:16px;
  height:13px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1626 {
  position:absolute;
  left:871px;
  top:281px;
  width:29px;
  height:29px;
}
#u1627 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1628 {
  position:absolute;
  left:717px;
  top:325px;
  width:29px;
  height:29px;
}
#u1629 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u1630 {
  position:absolute;
  left:717px;
  top:377px;
  width:29px;
  height:26px;
}
#u1631 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1632 {
  position:absolute;
  left:717px;
  top:479px;
  width:29px;
  height:29px;
}
#u1633 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1634 {
  position:absolute;
  left:717px;
  top:537px;
  width:29px;
  height:29px;
}
#u1635 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1636 {
  position:absolute;
  left:774px;
  top:276px;
  width:29px;
  height:28px;
}
#u1637 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1638 {
  position:absolute;
  left:774px;
  top:325px;
  width:29px;
  height:28px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1640 {
  position:absolute;
  left:774px;
  top:375px;
  width:29px;
  height:28px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1642 {
  position:absolute;
  left:774px;
  top:434px;
  width:29px;
  height:18px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1644 {
  position:absolute;
  left:774px;
  top:490px;
  width:29px;
  height:18px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1646 {
  position:absolute;
  left:777px;
  top:537px;
  width:27px;
  height:29px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u1648 {
  position:absolute;
  left:824px;
  top:281px;
  width:29px;
  height:24px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u1650 {
  position:absolute;
  left:824px;
  top:330px;
  width:29px;
  height:23px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1652 {
  position:absolute;
  left:824px;
  top:376px;
  width:29px;
  height:27px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1654 {
  position:absolute;
  left:826px;
  top:429px;
  width:27px;
  height:29px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1656 {
  position:absolute;
  left:826px;
  top:485px;
  width:29px;
  height:28px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u1658 {
  position:absolute;
  left:824px;
  top:542px;
  width:29px;
  height:24px;
}
#u1659 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1660 {
  position:absolute;
  left:717px;
  top:279px;
  width:29px;
  height:29px;
}
#u1661 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1662 {
  position:absolute;
  left:872px;
  top:542px;
  width:29px;
  height:29px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u1664 {
  position:absolute;
  left:872px;
  top:330px;
  width:29px;
  height:23px;
}
#u1665 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:29px;
}
#u1666 {
  position:absolute;
  left:876px;
  top:376px;
  width:23px;
  height:29px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1668 {
  position:absolute;
  left:872px;
  top:429px;
  width:29px;
  height:29px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1670 {
  position:absolute;
  left:717px;
  top:429px;
  width:29px;
  height:29px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1672 {
  position:absolute;
  left:872px;
  top:485px;
  width:29px;
  height:29px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1674 {
  position:absolute;
  left:717px;
  top:188px;
  width:263px;
  height:60px;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  position:absolute;
  left:236px;
  top:53px;
  width:348px;
  height:43px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:14px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1680 {
  position:absolute;
  left:274px;
  top:64px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u1682 {
  position:absolute;
  left:251px;
  top:63px;
  width:13px;
  height:23px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1685 {
  position:absolute;
  left:235px;
  top:95px;
  width:350px;
  height:1px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1687 {
  position:absolute;
  left:235px;
  top:53px;
  width:350px;
  height:1px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u1689 {
  position:absolute;
  left:666px;
  top:64px;
  width:50px;
  height:48px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u1691 {
  position:absolute;
  left:764px;
  top:56px;
  width:50px;
  height:38px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u1693 {
  position:absolute;
  left:742px;
  top:119px;
  width:50px;
  height:38px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1696 {
  position:absolute;
  left:236px;
  top:106px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1698 {
  position:absolute;
  left:236px;
  top:308px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1700 {
  position:absolute;
  left:259px;
  top:504px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1701 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1702 {
  position:absolute;
  left:236px;
  top:212px;
  width:348px;
  height:38px;
  line-height:36px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1704 {
  position:absolute;
  left:236px;
  top:362px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1706 {
  position:absolute;
  left:236px;
  top:413px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1710 {
  position:absolute;
  left:304px;
  top:366px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1711 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1712 {
  position:absolute;
  left:414px;
  top:374px;
  width:17px;
  height:17px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u1715 {
  position:absolute;
  left:535px;
  top:320px;
  width:19px;
  height:17px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1717 {
  position:absolute;
  left:304px;
  top:313px;
  width:45px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1718 {
  position:absolute;
  left:10px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1719 {
  position:absolute;
  left:359px;
  top:313px;
  width:45px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1720 {
  position:absolute;
  left:10px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1721 {
  position:absolute;
  left:236px;
  top:200px;
  width:348px;
  height:98px;
  text-align:left;
  line-height:36px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1723 {
  position:absolute;
  left:236px;
  top:152px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1725 {
  position:absolute;
  left:263px;
  top:215px;
  width:70px;
  height:70px;
}
#u1726 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1727 {
  position:absolute;
  left:459px;
  top:252px;
  width:98px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u1729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1729 {
  position:absolute;
  left:355px;
  top:215px;
  width:70px;
  height:70px;
}
#u1730 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1732 {
  position:absolute;
  left:236px;
  top:585px;
  width:348px;
  height:56px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:20px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u1735 {
  position:absolute;
  left:275px;
  top:594px;
  width:33px;
  height:26px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1737 {
  position:absolute;
  left:280px;
  top:623px;
  width:25px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1738 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1740 {
  position:absolute;
  left:513px;
  top:593px;
  width:27px;
  height:29px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u1742 {
  position:absolute;
  left:515px;
  top:623px;
  width:25px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:29px;
}
#u1745 {
  position:absolute;
  left:398px;
  top:594px;
  width:23px;
  height:29px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1747 {
  position:absolute;
  left:398px;
  top:624px;
  width:25px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1748 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
