body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:235px;
  top:20px;
  width:350px;
  height:622px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:236px;
  top:21px;
  width:348px;
  height:32px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u1335 {
  position:absolute;
  left:494px;
  top:32px;
  width:21px;
  height:11px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u1337 {
  position:absolute;
  left:426px;
  top:27px;
  width:11px;
  height:21px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1339 {
  position:absolute;
  left:443px;
  top:28px;
  width:21px;
  height:18px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u1341 {
  position:absolute;
  left:469px;
  top:31px;
  width:21px;
  height:16px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  position:absolute;
  left:246px;
  top:28px;
  width:80px;
  height:20px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  position:absolute;
  left:538px;
  top:29px;
  width:41px;
  height:21px;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u1347 {
  position:absolute;
  left:519px;
  top:30px;
  width:16px;
  height:13px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1350 {
  position:absolute;
  left:871px;
  top:281px;
  width:29px;
  height:29px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1352 {
  position:absolute;
  left:717px;
  top:325px;
  width:29px;
  height:29px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u1354 {
  position:absolute;
  left:717px;
  top:377px;
  width:29px;
  height:26px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1356 {
  position:absolute;
  left:717px;
  top:479px;
  width:29px;
  height:29px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1358 {
  position:absolute;
  left:717px;
  top:537px;
  width:29px;
  height:29px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1360 {
  position:absolute;
  left:774px;
  top:276px;
  width:29px;
  height:28px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1362 {
  position:absolute;
  left:774px;
  top:325px;
  width:29px;
  height:28px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1364 {
  position:absolute;
  left:774px;
  top:375px;
  width:29px;
  height:28px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1366 {
  position:absolute;
  left:774px;
  top:434px;
  width:29px;
  height:18px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1368 {
  position:absolute;
  left:774px;
  top:490px;
  width:29px;
  height:18px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1370 {
  position:absolute;
  left:777px;
  top:537px;
  width:27px;
  height:29px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u1372 {
  position:absolute;
  left:824px;
  top:281px;
  width:29px;
  height:24px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u1374 {
  position:absolute;
  left:824px;
  top:330px;
  width:29px;
  height:23px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u1376 {
  position:absolute;
  left:824px;
  top:376px;
  width:29px;
  height:27px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1378 {
  position:absolute;
  left:826px;
  top:429px;
  width:27px;
  height:29px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u1380 {
  position:absolute;
  left:826px;
  top:485px;
  width:29px;
  height:28px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u1382 {
  position:absolute;
  left:824px;
  top:542px;
  width:29px;
  height:24px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1384 {
  position:absolute;
  left:717px;
  top:279px;
  width:29px;
  height:29px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1386 {
  position:absolute;
  left:872px;
  top:542px;
  width:29px;
  height:29px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u1388 {
  position:absolute;
  left:872px;
  top:330px;
  width:29px;
  height:23px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:29px;
}
#u1390 {
  position:absolute;
  left:876px;
  top:376px;
  width:23px;
  height:29px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1392 {
  position:absolute;
  left:872px;
  top:429px;
  width:29px;
  height:29px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1394 {
  position:absolute;
  left:717px;
  top:429px;
  width:29px;
  height:29px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1396 {
  position:absolute;
  left:872px;
  top:485px;
  width:29px;
  height:29px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  position:absolute;
  left:717px;
  top:188px;
  width:263px;
  height:60px;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1401 {
  position:absolute;
  left:236px;
  top:585px;
  width:348px;
  height:56px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:20px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u1404 {
  position:absolute;
  left:275px;
  top:594px;
  width:33px;
  height:26px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1406 {
  position:absolute;
  left:280px;
  top:623px;
  width:25px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1409 {
  position:absolute;
  left:513px;
  top:593px;
  width:27px;
  height:29px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u1411 {
  position:absolute;
  left:515px;
  top:623px;
  width:25px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:29px;
}
#u1414 {
  position:absolute;
  left:398px;
  top:594px;
  width:23px;
  height:29px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1416 {
  position:absolute;
  left:398px;
  top:624px;
  width:25px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:236px;
  top:53px;
  width:348px;
  height:43px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:14px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1422 {
  position:absolute;
  left:274px;
  top:64px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u1424 {
  position:absolute;
  left:251px;
  top:63px;
  width:13px;
  height:23px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1427 {
  position:absolute;
  left:235px;
  top:95px;
  width:350px;
  height:1px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1429 {
  position:absolute;
  left:235px;
  top:53px;
  width:350px;
  height:1px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u1431 {
  position:absolute;
  left:666px;
  top:64px;
  width:50px;
  height:48px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u1433 {
  position:absolute;
  left:764px;
  top:56px;
  width:50px;
  height:38px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u1435 {
  position:absolute;
  left:742px;
  top:119px;
  width:50px;
  height:38px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1438 {
  position:absolute;
  left:236px;
  top:106px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1440 {
  position:absolute;
  left:236px;
  top:308px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(22, 155, 213, 1) 0%, rgba(22, 155, 213, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1442 {
  position:absolute;
  left:259px;
  top:504px;
  width:300px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1443 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u1444 {
  position:absolute;
  left:236px;
  top:212px;
  width:348px;
  height:38px;
  line-height:36px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1446 {
  position:absolute;
  left:236px;
  top:362px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1448 {
  position:absolute;
  left:236px;
  top:413px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1452 {
  position:absolute;
  left:304px;
  top:366px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1453 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1454 {
  position:absolute;
  left:414px;
  top:374px;
  width:17px;
  height:17px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u1457 {
  position:absolute;
  left:535px;
  top:320px;
  width:19px;
  height:17px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1459 {
  position:absolute;
  left:236px;
  top:200px;
  width:348px;
  height:98px;
  text-align:left;
  line-height:36px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:36px;
}
#u1461 {
  position:absolute;
  left:236px;
  top:152px;
  width:348px;
  height:38px;
  text-align:left;
  line-height:36px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1463 {
  position:absolute;
  left:459px;
  top:252px;
  width:98px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
