body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:70px;
  width:470px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:137px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:217px;
  top:112px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:300px;
  top:112px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:235px;
  top:158px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:300px;
  top:158px;
  width:200px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:410px;
  top:300px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:250px;
  top:300px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:18px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:199px;
  top:198px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:300px;
  top:198px;
  width:200px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:217px;
  top:240px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:300px;
  top:240px;
  width:80px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
