body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:33px;
  top:25px;
  width:740px;
  height:795px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:795px;
}
#u1 {
  position:absolute;
  left:2px;
  top:390px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:65px;
  width:740px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:65px;
  width:100px;
  height:40px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:90px;
  top:75px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:303px;
  top:75px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:413px;
  top:75px;
  width:80px;
  height:40px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:138px;
  width:289px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:90px;
  top:170px;
  width:540px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:90px;
  top:218px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:90px;
  top:255px;
  width:540px;
  height:95px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:95px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:90px;
  top:255px;
  width:250px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:90px;
  top:350px;
  width:64px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:164px;
  top:350px;
  width:106px;
  height:28px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u22 {
  position:absolute;
  left:530px;
  top:400px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:90px;
  top:468px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:90px;
  top:508px;
  width:128px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:90px;
  top:540px;
  width:540px;
  height:50px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28 {
  position:absolute;
  left:90px;
  top:618px;
  width:131px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0000CC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:90px;
  top:650px;
  width:540px;
  height:50px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:540px;
  top:590px;
  width:40px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:590px;
  top:590px;
  width:40px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:540px;
  top:700px;
  width:40px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:590px;
  top:700px;
  width:40px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
